@mixin col($breakpoint, $size){
	@if $breakpoint != ""{
		.col-#{$breakpoint}-#{$size}{
			width: calc(#{$size}/12*100% - 2*#{$gutter});
			float: right;
			border: 1px solid #000;
			margin: 0 $gutter;
		}
	} @else {
		.col-#{$size}{
			width: calc(#{$size}/12*100% - 2*#{$gutter});
			float: right;
			border: 1px solid #000;
			margin: 0 $gutter;
		}
	}
	
}